.login-page{
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 70px;
}
.login-form{
    width: 500px;
    text-align: center;
}
.login-form input{
    width: 100%;
    margin: 5px 0;
    height: 50px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 5px 2px #d2d2d2;
    padding: 10px;
}
.login-form button , .login-page button{
    width: 200px;
    height: 50px;
    background-color:#FFA01E;
    margin: 5px auto;
    border-radius: 5px;
    color: white;
    display: block;
}
